* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #03153D;
    color: #f1f1f0;
}

.main-container {
    width: 100%;
    overflow: auto;
}
/* Header */
.header {
    width: 100%;
    height: 150px;
    padding: 20px;
    background-color: #07479A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-title {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.nav-elements {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 19px;
}
.nav-elements h4 {
    transition: 0.5s;
}
.nav-elements a {
    color: white;
    text-decoration: none;
}
.nav-elements h4:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
}
/* Body */
.body {
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.main-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 30px;
    text-align: center;
}
.main-info img {
    width: 450px;
}
.main-info h2 {
    font-size: 31px;
}
.card1,.card2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: yellow;
}
.card1 {
    width: 60%;
    background: url(../img/info1.jpg);
}
.card2 {
    width: 40%;
    background: url(../img/info2.jpg);
    background-size: cover;
}

.main-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    backdrop-filter: blur(6px);
    background: rgba(0,0,0,0.3);
    padding: 10px 14px;
}
.main-title h2 {
    font-size: 30px;
}
.main-text {
    width: 100%;
    height: 90%;
    backdrop-filter: blur(6px);
    background: rgba(0,0,0,0.3);
    padding: 10px 14px;
}


